.cat--4{
  width: rem(476px);
  height: rem(550px);
  bottom: rem(160px);
  left: rem(400px);
  pointer-events: none;
  z-index: -2;
}

.window--2{
  pointer-events: all !important;
  >img{
    position: relative;
    // z-index: 4;
  }
}
.slider-wrapper{
  position: absolute;
   
   width: rem(800px); 
    @include a-cent(x);
    top: rem(208px);
    z-index:4;
    &::after,
    &::before{
      content: '';
      position: absolute;
      top: 0;
      pointer-events: none;
      height: 110%;
      width: rem(440);
      z-index: 2;
      top: -5%;
    }
    &::after{
      left: calc(100% - #{rem(5px)});
      background-image: linear-gradient(to left, rgba(234,230,220,1) 50%,rgba(234,230,220,0) 100%);
    }
    &::before{
      // left: 0;
      right: calc(101% + #{rem(25px)});
      background-image: linear-gradient(to right, rgba(234,230,220,1) 50%,rgba(234,230,220,0) 100%);
    }
}

.slider{
  &__item{
    width: rem(234px);
    height: rem(295px);
    border: rem(7px) solid #2d1817;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    display: block;
    // padding: 7px;
  }
  overflow: initial
}

// .room--2{
//   position: absolute;
//   top: 0;
//   z-index: -1;
// }

.swiper-button-hand{
  
  width: rem(21px);
  height: rem(41px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: rem((-14));
  &-prev{
    background-image: url(../img/arrow-prev.svg);
    left: rem(-30px);
  }
  
  &-next{
    background-image: url(../img/arrow-next.svg);
    right: rem(-30px);
  }


}
.cat--go{

  // margin-left: 35%;
  animation: cat-go 20s  steps(10,end)  infinite;
  img{
    position: relative;
    // animation: cat-active-go 1s  linear  infinite 500ms;
  }
}
@keyframes cat-active-go { 
  // 0% {    } 
   
  // 50% {     } 

  0% { @include transform(  rotate(5deg));   } 
  49% { @include transform(  rotate(5deg));    } 
  50% { @include transform(  rotate(-5deg));     }
  100% { @include transform(  rotate(-5deg));     } 
}
 

@keyframes cat-go {
0% { margin-left: 0;   } 
// 49% { margin-left: 35%;    } 
50% { margin-left: 35%;     }
100% { margin-left: 0;    } 
// 100% { box-shadow: 0 0 5em 6em rgba($color: #fff, $alpha: 0); }
}
