 
.s-section--4,
.s-section--2{
  .container{
    @media screen and (min-height: 740px) {
      
      // margin-top: 0;
    }
    // margin-top: rem(-100px);
    }
}

.wall{
  
  // top: 0;
  // bottom: 0;
  &::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute; 
    background-image: url(../img/wall.png);
    background-size: 100% 100%;
    z-index: -1;
  }
  @include a-cent();
  height: 100vh;
  z-index: 2;
  height: 100vh;
  &--1{
    width: rem(2433);
    // height: rem(1200);
    // min-height: 100vh;
  }
  &--2{
    width: rem(2433);
    // height: rem(1200);
    // min-height: 100vh;
  }
  &--1{
  pointer-events: none;
  > img{
  }
}
}
.window{ 
  z-index: 2;
  > img{
    width: rem(1850);
    height: rem(1200);
    position: relative;
    z-index: 2;
  }
  // top: 0;
  // bottom: 0;
  // width: 1850px;
  // height: 1200px;
  @include a-cent();
  margin-top: rem(50);
  &__inner{
    position: absolute;
    top: 0;
    @include a-cent(x);
    z-index: 3;
    // position: relative;
  overflow: hidden;
  width: rem(1660px);
  height: rem(1200);

  }
  // position: relative;
  // overflow: hidden;
   
  margin-left: rem(-130px);
  // width: 100%;
  img{
    // width: auto;
    // max-height: 100%;
  }
} 

.tv{
  position: absolute;
  bottom: rem(-100);
  left: rem(-120px);
  z-index: 2;
  >img{
    width: rem(635);
    height: rem(634);
  }
  // img
  &::before{
    content: '';
    background-image:  url(../img/tv-light.png);
    bottom: 0;
    position: absolute;
    z-index: -1;
    left: rem(120px);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    height: rem(912);
    width: rem(1920);
  }
  &--active{
    &::before{
      opacity: 1;
      animation: tv-blick 1s  linear  infinite 500ms;
    }
  }
  // z-index: -1;
}

@keyframes tv-blick {
  0% { opacity: 1;   } 
  49% { opacity: 1;    } 
  50% { opacity: 0;     }
  100% { opacity: 0;     } 
  // 100% { box-shadow: 0 0 5em 6em rgba($color: #fff, $alpha: 0); }
}





.room{ 
  @include a-cent();
  
  // top: rem(69px);
  position: relative;
  overflow: hidden;
  width: rem(1686px);
  // width: rem(1686px);
  margin-left: rem(-128px);
  z-index: 2;
  // margin-top: rem(-50);
  > img{
    width: 100%;
  }
  
  &--2{
    width: rem(1690px);
    margin-left: rem(-130px);

  }
  &--1::after,
  &--1::before{
    content: '';
    position: absolute;
    // left: 0;
    top: 0;
    background-image: url(../img/curtain.png);
    width: rem(293px);
    background-size: 100%;
      height: rem(1019px);
      z-index: 3;
  }
  &::before{
    left: 0;
  }
  &::after{
    right: 0;
    @include transform(  rotateY(-180deg));
  }
}
// z-index: -1;
.cat--2{
  top:  rem(420px);
  left: rem(1000);
  @include transform(  rotate(10deg));
   img{
     width: rem(355px);
     height: rem(297px);
   }
 }
  
 .pictures{
   position: absolute;
   display: flex;
   width: rem(960px);
   justify-content: space-between;
    @include a-cent(x);
    perspective: 1000px;
    top: rem(208px);
    
    &__item-inner{
      width: rem(158px);
      height: rem(158px);
      border: rem(11px) solid #454859;
      box-shadow:  rem(11px)   rem(11px) 0 rgba($color: rgb(109, 109, 109), $alpha: .5);
      backface-visibility: hidden;

      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-weight: bold;
      color: #ffffff;
      font-size: rem(28);
      &--front{
        z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
      }
      &--back{
        transform: rotateY(180deg);
      }
    }
    &__item:hover .flipper{
      transform: rotateY(180deg);
    }
    .flipper{
      transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
    }
   &__item{
    width: rem(158px);
    height: rem(158px);
    perspective: rem(1000px);
     img{
       position: relative;
       z-index: -1;
       @extend .res-i;
       width: 102%;
       height: 102%;
       margin-top: -1px;
      //  @include a-cent;
      //  max-width: 100%;
      //  height: auto;
      //  width: auto;
      //  max-height: 100%;
     }
   }
   &__title{
     text-align: center;
     position: absolute;
     top: 90%;
     background-color: #eca220;
     font-size: rem(14);
     color: $body-color;
     display: inline-block;
     border-radius: rem(60px);
     padding: rem(10) rem(5);
   }
 }

 .back-city{
  // top: rem(190px);
  bottom: 0;
  left: rem(799px);
  position: absolute;
  z-index: -1;
  img{
    width: rem(1800px * .95);
    height: rem(810px * .95);
  }
  &--4{
    left: rem(329px);
    img{
      width: rem(1800px * 1.1);
      height: rem(810px * 1.1);
    }
   }
 }

 
@keyframes cat-active { 
  // 0% {    } 
   
  // 50% {     } 

  0% { @include transform(  rotate(10deg));   } 
  49% { @include transform(  rotate(10deg));    } 
  50% { @include transform(  rotate(0deg));     }
  100% { @include transform(  rotate(0deg));     } 
}
 
 .cat{
    &--active{
    animation: cat-active 1s  linear  2 ;
   }
     &--3{

       top: rem(252px);
       left: calc(100% + #{rem(-150)});
      //  z-index: -1;
       @include mt(1);
       &::before{
         content: '';
         position: absolute;
         top: rem(49px);
         left: rem(31px);
         width: rem(21);
         height: rem(50);
         background-repeat: no-repeat;
         background-size: 100%;
          background-image: url(../img/cat-paw.png);
         
        }
        img{
          z-index: -2;
          position: relative;
          height: rem(317);
          width: rem(329);
        }
      }
      &--down{
        top: 60%;
    
        }
 }
.tv,
 .window--1{
   pointer-events: none;
   
 }