 
 .s-section--6{

  margin-left: 0;
  // margin-left: rem0);
}
.room{
   &--6{
     top: 0;
    // top: auto;
    // bottom: rem(40);
    //  transform: 
    @include a-cent(x)
     width: rem(1920 *.86);
     height: rem(1152 *.86);
     margin-left: rem(240);
     >img{
       width: 100%;
       height: 100%;
    }
   }
 }
 .blinds{
     top: 0;
     width: rem(1920 *.86);
     height: 100%;
     @include mt(2);
     position: absolute;
    //  transform: translateY(-100%);
     &--hidden{
      transform: translateY(-100%);
     }
     >img{
       width: 100%;
       height: 100%;
    } 
 }





 .blinds{
   position: absolute;
 }

 .servises{
   margin-left: auto;
   margin-right: auto;
   width: rem(1140);
   height: rem(602);
   top: rem(100);
   position: absolute;
   background-size: 100% 100%;
   background-position: top center;
   @include a-cent(x);
 
   &::before{
     content: '';
     position: absolute;
     @include a-cent(x);
     width: rem(1127);
     height: rem(602);
     background-repeat: no-repeat;
     background-position:   top center;
     background-size:    rem(1180) rem(602);
     background-image:   url(../img/servises-bg.png)   ;
     top: rem(-2);
     pointer-events: none;
     z-index: -1;
    //  left: 10px;
   }
   
   &::after{
     content: '';
     position: absolute;
     @include a-cent(x);
     width: rem(1127);
     height: rem(602);
     background-repeat: no-repeat;
     background-position:   top center;
     background-size: rem(1120) rem(494),    ;
     background-image: url(../img/ramka.png)   ;
     top: rem(-2);
     pointer-events: none;
    //  left: 10px;
   }

   &__row{
      display: flex;
   }
  &__col{
    max-width: 100%;
    // height: rem(460);
    
    // b/*  */ackground-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    flex-grow: 1;
    &--aside{
      max-width: rem(265);
      text-align: center;
      flex: 0 0 rem(265);
    }
    &--left{
      position: relative;
    }
    &--center{
    }
  }
  &--left &__item{
    position: relative;
    transform: rotateY(-135deg) ;
  transform:   rotateX(-35deg);
  }
  
  &__item{
    position: relative;
    z-index: -1;
    &--sm{
    height: rem(170);
    cursor: pointer;
    &:nth-child(2){
      height: rem(155);
      
    }
    
  }
}
&__item{
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 101%;
    background-size: 229px 520px;
    background-repeat: no-repeat;
    z-index: 1;
  }
  // z-index: -1;
}
&__col--left &__item{
  &::before{

    background-image:  url(../img/tv-left.gif);
  }
}
&__col--right &__item{
  &::before{
    left: auto;
    width: 220px;
    right: 0;
    
    background-image:  url(../img/tv-right.gif);
  }
}

&__col--right &__item:nth-child(1),
&__col--left &__item:nth-child(1){
  &::before{

    background-position: left top;
  }
   
  }
  &__col--right &__item:nth-child(2),
  &__col--left &__item:nth-child(2) {
    &::before{ 
      background-position: left center; 
      top: rem(-5); 
    }
  }
  &__col--right &__item:nth-child(3),
  &__col--left &__item:nth-child(3) {
    &::before{
      top: rem(-12);
      background-position: left bottom; 
      
    }
  }
  

 
 
 
 

  &__col--left &__item:nth-child(1) img{
    
    @include transform(translateX(-50%) translateY(-50%) skewX(8deg)   rotate(8deg));
  }
  
  &__col--left &__item:nth-child(2) img{
    
    @include transform(translateX(-50%) translateY(-50%)    rotate(3deg));
    
    // @include transform(translateX(-50%) translateY(-50%) rotateY(-35deg));
  }
  &__col--left &__item:nth-child(3) img{
    
    @include transform(translateX(-50%) translateY(-50%)    rotate(1deg));
    // @include transform(translateX(-50%) translateY(-50%) rotateY(-35deg));
  }
  
  &__col--right &__item:nth-child(1) img{
    
    @include transform(translateX(-50%) translateY(-50%)  skewX(-4deg)  rotate(-5deg));
  }
  
  &__col--right &__item:nth-child(2) img{
    
    @include transform(translateX(-50%) translateY(-50%)    rotate(-3deg));
    
    // @include transform(translateX(-50%) translateY(-50%) rotateY(-35deg));
  }
  &__col--right &__item:nth-child(3) img{
    
    @include transform(translateX(-50%) translateY(-50%)    rotate(-1deg));
    // @include transform(translateX(-50%) translateY(-50%) rotateY(-35deg));
  }


  &__item--sm img{
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%) rotateY(-35deg));

  }
  img{
    max-width: rem(100);
    flex-shrink: 0;
  }
  &__img-wrap{
    width: rem(100);
    margin-right: rem(20);
    height: rem(100);
    display: flex;
    align-items: center;
  }
  &__item--center{
    // max-height: calc(100%  + #{rem(290)});
    height: rem(340);
    // max-height: rem(100);
    margin-top: rem(60px);
    margin-bottom: rem(30); 
    
  }
  &__item-head{
    display: flex;
    align-items: center;
    margin-bottom: rem(20);
    font-size: rem(20);
    font-weight: bold;

  }
  &__item-body{
    max-height: 100%;
      position: relative;
      overflow-y: auto;

  }

}

.cat--6{
  @include a-cent(x);
  top: rem(500);

  &::before{
    content: '';
    @include a-cent;
    margin-left: rem(-40);
    // left: 50%;
    // top: 40%;
    margin-top: rem(-80);
    width: rem(1);
    height:  rem(1);
    border-radius: 50%; 
    box-shadow: 0 0 rem(65em) rem(46em) rgba($color: #fff, $alpha: .6);
    animation: tv-blick 6s  linear  infinite  ;
  }
}

 

.hidden{
  display: none !important; 
}
.window{
  pointer-events: none;
  &--6{
    margin-left: rem(220);
    top: 0;
     @include a-cent(x);
    >img{
      width: rem(2174);
      height: 98vh;
     //  min-height: rem(100);
    }
  }
}

.signboards{
  position: absolute;
  right: 100%;
  bottom: 0;
  z-index: 20;
  height: 100%;
  img{
    width: 100%;
    height: 100%;
    @include a-cent;
    &:nth-child(2){
      // display: none;
      opacity: 0;
      animation: signboards 2.5s  linear  infinite ;
    }
  }
  &__item{
    // position: relative;
    position: absolute;
  }
  &__item--1{
    width: rem(1118px);
    height: rem(873px);
    right: rem(-330);
    bottom: rem(160px);
    img{

       
    }
  }
  
  &__item--2{
    width: rem(452px);
    height: rem(546px);
    right: rem(-84);
    bottom: rem(20px);
    img{ 
    }
  }

}


@keyframes signboards {
  0% { opacity: .8;   } 
  49% { opacity: .8;    } 
  50% { opacity: 0;     }
  100% { opacity: 0;     } 
  // 100% { box-shadow: 0 0 5em 6em rgba($color: #fff, $alpha: 0); }
}
@keyframes server-lamp {
  0% { opacity: 0;   } 
  49% { opacity: 0;    } 
  50% { opacity: 1;     }
  100% { opacity: 1;     } 
  // 100% { box-shadow: 0 0 5em 6em rgba($color: #fff, $alpha: 0); }
}



.server-lamp{
  position: absolute;
  border-radius: 50%;
  background-color: green;
  width: rem(6);
  height:  rem(6);
  animation-name: server-lamp;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  animation-duration: 2s;
  // animation-fill-mode: both;
  // opacity: 0;

     &--2,
     &--3,
     &--15,
     &--6,
     &--10{
       animation-delay: .8s; 
      }
      
      &--14,
  &--12,
  &--8{
    animation-delay: .5s; 
  }

  
      &--4,
  &--16,
  &--13,
  &--8{
    animation-delay: 1s; 
  }


  &--1{
    left: rem(120px);
    top: rem(500) ;
  }
  
  &--2{
    // left: rem(100px);
    left: rem(200px);
    top: rem(580) ;
    background-color: red;
  }
  
  &--3{
    left: rem(160px);
    top: rem(450) ;
    background-color: red;
  }
  
  &--4{
    left: rem(120px);
    top: rem(690) ;
    background-color: red;
  }
  
  &--5{
    left: rem(60px);
    top: rem(700) ;
    // background-color: red;
  }
  
  &--6{
    left: rem(70px);
    top: rem(400) ;
    background-color: red;
  }
  
  &--16{
    left: rem(150px);
    top: rem(500) ;
  }
  
  &--7{
    // left: rem(100px);
    left: rem(60px);
    top: rem(410) ;
    background-color: red;
  }
  
  &--8{
    right: rem(130px);
    top: rem(480) ;
    background-color: red;
    // background-color: red;
  }
  
  &--9{
    right: rem(60px);
    top: rem(670) ;
    background-color: red;
  }
  
  &--10{
    right: rem(60px);
    top: rem(400) ;
    // background-color: red;
  }
  
  &--11{
    right: rem(160px);
    top: rem(500) ;
    background-color: red;
  }
  
  &--12{
    right: rem(120px);
    top: rem(700) ;
    background-color: red;
  }
  
  &--13{
    right: rem(140px);
    top: rem(700) ;
    // background-color: red;
  }
  
   
  &--14{
    right: rem(80px);
    top: rem(800) ;
    background-color: red;
  }
  
  &--15{
    left: rem(160px);
    top: rem(700) ;
    background-color: red;
  }

}

// @keyframes front-window { 
//   0% { opacity: 1;   } 
//   49% { opacity: 1;    } 
//   50% { opacity: 0;     }
//   100% { opacity: 0;     } 
// }