 
 .s-section--7{
  background-image: url(../img/bg-contact.png);
  background-size:contain;
  background-position: left 100%;
  background-repeat: no-repeat;
}
.contact-bg{

} 

@keyframes ray-stand {
  0% { opacity: .7;   } 
  30% { opacity: .7;   } 
  31% { opacity: 0;    } 
  60% { opacity: 0;    } 
  61% { opacity: 0.7;    } 
  100% { opacity: 0.7;     }
  // 100% { opacity: 0;     } 
  // 100% { box-shadow: 0 0 5em 6em rgba($color: #fff, $alpha: 0); }
}

 .ray-lamp{
  background-image:  url(../img/ray-lamp.png);
   
    position: absolute;
    // z-index: -1;
    top: rem(22);
    z-index: 5;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 0;
    width: rem(216 * .99);
    height: rem(272 * .99);
    &.active{
      opacity: 1;
      
      pointer-events: none;
      animation-fill-mode: forwards;
      animation-fill-mode: both;
    }
    animation: ray-stand 5s    linear  4 ;
    &--1{
      
      left: rem(136);
      transform: rotateY(180deg);
    } 
  
  
  &--2{
    
    left: rem(366);
    transform: rotateY(180deg); 
  }
  
  
  &--3{
    
    left: rem(628); 
  }
  
  
  &--4{ 
    left: rem(856); 
      // animation: ray-stand 1s    linear    3 500ms;
    }

}

.stand{
  width: rem(1206px);
  height: rem(922);
  >img{
    height: 100%;
    width: 100%;
  }
  @include a-cent(x);
  top: 16%;
  // bottom: 0;
   
 
  &::before{
    content: '';
    
  }
  &--active{
    &::before{
      opacity: .8;
    }
  }
  >img{
    z-index: 2;
    position: relative;
    pointer-events: none;
  }
}

.map-wrap{
  position: absolute;
  @include a-cent(x);
  top: rem(90);
   
    width: rem(1168);
    height: rem(583); 
    iframe{
      position: absolute;
      width: 100% !important;
      height: 100% !important;
      left: 0;
      top: 0;
    } 
    &__text-block{
      position: absolute;
      left: rem(100);
      top: 0;
      z-index: 2;
      width: rem(341px); 
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
      border-radius: rem(15px);
      background-color: #eca220;
      padding: rem(20) rem(30);
      .icon{
        font-size: rem(34);
        &-email{
          font-size: rem(20);

        }
      }

    }
    &__icon-wrap{
      flex: 0 0 rem(40);
      width: rem(40);
      // flex-grow: 1;
      margin-right: rem(30);
      text-align: center;
    }
    &__group{
      padding-top: rem(10);
      padding-bottom: rem(10);
      display: flex;
      &:not(:last-child){

        border-bottom: 1px solid #000;
      }
      a{
        color: #000000 !important;
      }
    }
    &__logo{
      padding-bottom: rem(20);
      img{
        width: reM(193);
        height: rem(47);
      }
    }
}

.cat--7{
  left: rem(-32);
  top: rem(-73); 
  z-index: 3;
  position: absolute;

  &::before{
    content: url(../img/tail-1.png);
    // animation: tail  5s  steps(1,end)  linear;
    animation: tail 5s  steps(1,end)  infinite;
    z-index: -1;
    position: absolute;
    top: 55%;
    left: 42%;
   
  }
}

@keyframes tail { 
  0% {content: url(../img/tail-1.png); top: 55%;
    left: 42%; } 
  50% {content: url(../img/tail-2.png);  top: 60%;
    left: 30%; } 
  70% {content: url(../img/tail-3.png);  top: 65%;
    left: 6%; } 
  80% {content: url(../img/tail-2.png);  top: 60%;
    left: 30%; } 
  100% {content: url(../img/tail-3.png);  top: 65%;
    left: 6%; } 
   
}