 
.s-section--1{
  .container{
  @media screen and (min-width: 1200px) {
    
    margin-top: rem(100px);
  }
  left: rem(-200px);
  // margin-left: -50px;
  }
}

.front-city{
  position: absolute;
  // top: rem(50px);
  bottom: 0;
  // bottom: 0;
  @include a-cent(x);
  &--back{
    // margin-right: 5%;
    margin-left: -9%;
    z-index: -1;
  }
  img{
    width: 100%;
    height: 100%;
  }
  width: rem(2400px);
  height: rem(825px);
}
 

.moon-block{
  position: absolute;
  left: 0%;
  bottom: rem(520px);
  width: rem(220px);
  height: rem(220px);
  vertical-align: middle;
  
  line-height: 1;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 rem(5em) rem(6em) rgba($color: #fff, $alpha: .2);
  // animation-name: moon-blick;
  // animation-iteration-count: infinite;
  // animation-timing-function: 0;
  // animation-duration: 2s;
  &--active{

    // animation: moon-blick 1s linear   4 500ms;
    // animation-fill-mode: none;

    img{
      // opacity: 0.8;
      animation: moon-img-blick 1s  linear  4 500ms;
      opacity: 0.7;
      
    }
  }
  img{
    width: 100%;
    height: 100%;
    
  }

  
}
@keyframes moon-blick { 
  0% { box-shadow: 0 0 5em 6em rgba($color: #fff, $alpha: 0);   } 
  49% { box-shadow: 0 0 5em 6em rgba($color: #fff, $alpha: 0);    } 
  50% { box-shadow: 0 0 5em 6em rgba($color: #fff, $alpha: .2);    }
  100% { box-shadow: 0 0 5em 6em rgba($color: #fff, $alpha: .2);    } 
}
@keyframes moon-img-blick {
  0% { opacity: 1;   } 
  49% { opacity: 1;    } 
  50% { opacity: .7;     }
  100% { opacity: .7;     } 
  // 100% { box-shadow: 0 0 5em 6em rgba($color: #fff, $alpha: 0); }
}


.ray-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
}
.ray{
  position: absolute;
  // opacity: 0.75;
  >img{
    z-index: -1;
    position: relative;
  }
  // display: none;
  // z-index: 2;
  &--down{
    top: rem(-130px);
    left: 13.5%;
    z-index: 2;
    >img{
      opacity: 0;
      width: rem(1234 *.85);
      height: rem(1104 *.85);
      opacity: 0;
    }
   
  }
  &--down.ray--active{
    >img{
      opacity: 1;

      animation: ray-blick 1s  linear  2 500ms;
    }
  }
  
  &--up.ray--active{
    >img{
      opacity: 1;

      animation: ray-blick 1s  linear  2 500ms;
    }
  }
  &--logo.ray--active {
    >img{
      opacity: 1;

      // animation: ray-blick 1s  linear  1 5000ms;
    }
  }

  &--logo{
    top: rem(100);
    // left: rem(110);
    right: rem(95);
    img{
      opacity: 0;
      width: rem(354);
      height: rem(255); 
    }
  }
  &--up{
    // top: 0;
    // bottom: rem(311);
    left: 35%;
    top: rem(-145);
    z-index: -1;
    >img{
      opacity: 0;
      position: relative;
      z-index: -2;
      width: rem(941);
      height: rem(1107);
    }
  }

}

@keyframes ray-blick {
  0% { opacity: 0;   } 
  49% { opacity: 0;    } 
  50% { opacity: 1;     }
  100% { opacity: 1;     } 
  // 100% { box-shadow: 0 0 5em 6em rgba($color: #fff, $alpha: 0); }
}


$stl: 160;
$stt: 70%;
.cat{
  position: absolute;
  &--1{
    bottom: rem(465px);
    left: 65%;
    z-index: -12;
    img{
      width: rem(229px);
      height: rem(189px);
    } 
    &:not(.cat--show){

      transform: translate(#{rem($stl)}, $stt);
    }
    // animation-fill-mode: forwards;
  }
}

 
.cat--show{
  transform: none;
  animation-fill-mode: both;
  animation: cat-show 5s  steps(1,end)  1;
}

@keyframes cat-show {
  0% { transform: translate(#{rem($stl)}, $stt);   } 
  10% { transform: translate(#{rem($stl - 10)}, ($stt - 5%));} 
  20% { transform: translate(#{rem($stl - 20)}, ($stt - 15%));} 
  30% { transform: translate(#{rem($stl - 35)}, ($stt - 25%));} 
  40% { transform: translate(#{rem($stl - 45)}, ($stt - 30%));} 
  50% { transform: translate(#{rem($stl - 55)}, ($stt - 35%));} 
  60% { transform: translate(#{rem($stl - 65)}, ($stt - 40%));} 
  70% { transform: translate(#{rem($stl - 75)}, ($stt - 45%));} 
  // 75% { transform: translate(#{rem($stl - 85)}, ($stt - 50%));} 
  80% { transform: translate(#{rem($stl - 95)}, ($stt - 55%));} 
  // 85% { transform: translate(#{rem($stl - 105)}, ($stt - 60%));} 
  90% { transform: translate(#{rem($stl - 115)}, ($stt - 65%));} 
  100% { transform: translate(#{rem($stl - 125)}, ($stt - 70%));} 
  
  // 100% { box-shadow: 0 0 5em 6em rgba($color: #fff, $alpha: 0); }
}
// @import "media";// Всегда в конце
