extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug

block title
	title title

block pagecontent
	//- +header()
	+top-nav
	.stars
	.twinkling
	.clouds
	.main-wrapper#fullpage.swiper-container

		.swiper-wrapper
			//- - for (var x = 0; x < 3; x++)
				
			+b.s-section--1.swiper-slide
				.container
					+b.front-city--back
						img(src="img/city-back.svg", alt="")
					+b.moon-block
						img(src="img/moon.svg", alt="")
					
					+b.cat--1
						img(src="img/cat-1.png", alt="")
					.front-city
						img(src="img/city-front.svg", alt="")
					
					
					+b.ray--up
						img(src="img/ray-up.png", alt="")
						+b.ray--down
							img(src="img/ray-down.png", alt="")
			+b.s-section--2.swiper-slide
				.container
					+b.wall--1
						+b.cat--3
							img(src="img/cat-3.png", alt="")
						//- img(src="img/wall.png", alt="")
					+b.room--1
						img(src="img/room-1.jpg", alt="")
						+b.pictures
							+e.item: .flipper
								+e.item-inner--front(style="background-color: #A5BAD0;") Шеф
								+e.item-inner--back
									img(src="img/item.jpg", alt="")
									+e.title Имя Фамилия
							+e.item: .flipper
								+e.item-inner--front(style="background-color: #7EA37E;") Креатив
								+e.item-inner--back
									img(src="img/item.jpg", alt="")
									+e.title Имя Фамилия
							+e.item: .flipper
								+e.item-inner--front(style="background-color: #A5BAD0;") Печать
								+e.item-inner--back
									img(src="img/item.jpg", alt="")
									+e.title Имя Фамилия
							+e.item: .flipper
								+e.item-inner--front(style="background-color: #E88378;") Дизайн
								+e.item-inner--back
									img(src="img/item.jpg", alt="")
									+e.title Имя Фамилия
						+b.cat--2
							img(src="img/cat-2.svg", alt="")
						+b.tv
							img(src="img/tv.png", alt="")
					+b.window--1
						img(src="img/window.png", alt="")

					+b.back-city
						img(src="img/city-back--2.svg", alt="")
					
					//- +b.cat--2
					//- 	img(src="img/cat-2.svg", alt="")
					
			+b.s-section--3.swiper-slide
			
			+b.s-section--4.swiper-slide
				.container
					+b.wall--2 
					+b.room--2
						img(src="img/room-2.jpg", alt="")
					
					+b.window--2
						img(src="img/window-2.png", alt="")
						+e.inner
							.slider-wrapper
								+b.slider--js.swiper-container 
									.swiper-wrapper
										- for (var x = 0; x < 5; x++)
											.swiper-slide
												+e.item.img-bg.popup-with-move-anim(href="#modal-img" style="background-image: url(img/slide.png);" data-text="orem, ipsum dolor sit amet consectetur adipisicing elit. Cumque doloribus optio illo dolor velit placeat, vitae excepturi deleniti quis nobis culpa enim adipisci laudantium? Veritatis optio iusto, est nihil laborum suscipit fuga tempora facilis voluptatum consectetur minima eaque temporibus architecto officia asperiores necessitatibus velit enim. Quasi error pariatur aperiam molestiae exercitationem eaque quo aliquam officia perferendis ullam consectetur maiores itaque numquam, magni")
													img(src="img/slide.png", alt="")
									+arrow()
							+b.cat--4
								img(src="img/cat-4.svg", alt="")
					+b.back-city--4
						img(src="img/city-back--2.svg", alt="")
					
					//- +b.cat--2
					//- 	img(src="img/cat-2.svg", alt="")
					
			+b.s-section--5.swiper-slide
			
			+b.s-section--6.swiper-slide
				.container 
					+b.room--6
						img(src="img/room-3.jpg", alt="")
						+b.servises
							+e.row
								+e.col--aside.--left
									+e.item--sm(data-title="Текст заголовка  название   услуги услуги "  data-text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque doloribus optio illo dolor velit placeat, vitae excepturi deleniti quis nobis culpa enim adipisci laudantium? Veritatis optio iusto, est nihil laborum suscipit fuga tempora facilis voluptatum consectetur minima eaque temporibus architecto officia asperiores necessitatibus velit enim. Quasi error pariatur aperiam molestiae exercitationem eaque quo aliquam officia perferendis ullam consectetur maiores itaque numquam, magni odit quisquam illo similique? Esse blanditiis perferendis, totam nobis ipsam saepe sapiente odit asperiores nisi animi voluptatibus debitis. ")
										img(src="img/servises-1.svg", alt="")
									
									+e.item--sm(data-title="Текст заголовка  название   услуги услуги "  data-text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque doloribus optio illo dolor velit placeat, vitae excepturi deleniti quis nobis culpa enim adipisci laudantium? Veritatis opti nsectetur maiores itaque numquam, magni odit quisquam illo similique? Esse blanditiis perferendis, totam nobis ipsam saepe sapiente odit asperiores nisi animi voluptatibus debitis. ")
										img(src="img/servises-2.svg", alt="")
									
									+e.item--sm(data-title="Текст заголовка  название   услуги услуги "  data-text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque doloribus optio illo dolor velit placeat, vitae excepturi deleniti quis nobis culpa enim adipisci laudantium? Veritatis optio iusto, est nihil laborum suscipit fuga tempora facilis voluptatum cons ectetur maiores itaque numquam, magni odit quisquam illo similique? Esse blanditiis perferendis, totam nobis ipsam saepe sapiente odit asperiores nisi animi voluptatibus debitis. ")
										img(src="img/servises-3.svg", alt="")
									
								+e.col--center
									+e.item--center
								+e.col--aside.--right
									+e.item--sm(data-title="Текст заголовка  название   услуги услуги "  data-text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque doloribus optio illo dolor velit placeat, vitae excepturi deleniti quis nobis culpa enim adipisci laudantium? Veritatis optio ius atur aperiam molestiae exercitationem eaque quo aliquam officia perferendis ullam consectetur maiores itaque numquam, magni odit quisquam illo similique? Esse blanditiis perferendis, totam nobis ipsam saepe sapiente odit asperiores nisi animi voluptatibus debitis. ")
										img(src="img/servises-4.svg", alt="")
									
									+e.item--sm(data-title="Текст заголовка  название   услуги услуги "  data-text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque doloribus optio illo dolor velit placeat, vitae excepturi deleniti quis nobis culpa enim adipisci laudantium? Veritatis optio iusto, est nihil l res itaque numquam, magni odit quisquam illo similique? Esse blanditiis perferendis, totam nobis ipsam saepe sapiente odit asperiores nisi animi voluptatibus debitis. ")
										img(src="img/servises-5.svg", alt="")
									
									+e.item--sm(data-title="Текст заголовка  название   услуги услуги "  data-text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque doloribus optio illo dolor velit placeat, vitae excepturi deleniti quis uam, magni odit quisquam illo similique? Esse blanditiis perferendis, totam nobis ipsam saepe sapiente odit asperiores nisi animi voluptatibus debitis. ")
										img(src="img/servises-5.svg", alt="")
									
								
						+b.cat--6
							img(src="img/cat-6.png", alt="")
							
						+b.blinds
							img(src="img/blinds.png", alt="")
							
					+b.window--6
						img(src="img/window-3.png", alt="")
						+e.inner
						  
					
					//- +b.cat--2
					//- 	img(src="img/cat-2.svg", alt="")
					
			+b.s-section--7.swiper-slide 
				+b.stand
					img(src="img/stand.png", alt="")
					+b.map-wrap
						+e.text-block
							+e.logo
								img(src="img/logo.svg", alt="")
							+e.group
								+e.icon-wrap
									+icon('mark')
								+e.text 127083, Москва, Петровско-Разумовский пр-д, 13/2, офис 13
							
							+e.group
								+e.icon-wrap
									+icon('tel')
								+e.text
									a(href="tel:+7(495)642 24 00") +7 (495) 642 24 00
							
							+e.group
								+e.icon-wrap
									+icon('email')
								+e.text
									a(href="mailto:info@frontcreative.ru") info@frontcreative.ru 

							
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.796123518925!2d37.56526441606113!3d55.796777996066716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549ef0e553d3d%3A0xf065f2263ede5394!2z0J_QtdGC0YDQvtCy0YHQutC-LdCg0LDQt9GD0LzQvtCy0YHQutC40Lkg0L_RgC3QtCwgMTMg0LrQvtGA0L_Rg9GBIDIsINCc0L7RgdC60LLQsCwg0KDQvtGB0YHQuNGPLCAxMjcwODM!5e0!3m2!1sru!2sby!4v1555881177404!5m2!1sru!2sby" width="600" height="450" style="border:0" allowfullscreen></iframe>
					+b.cat--7
						img(src="img/cat-7.png", alt="")
						
						

				//- .container
					
					
		